@media (max-width: 1099px) {
    /*  */
}

@media (min-width: 1100px) {
    #about-page #container main section article {
        padding: 20px 20px;
        background-color: var(--color-background-transparent);
    }

    #about-page #container main section article img {
        width: 300px;
        float: right;
        border-radius: 50%;
        border: 5px solid var(--color-background);
        margin-left: 20px;
    }
}