@media (max-width: 1099px) {
    #container footer #logo-footer img {
        width: 152px;
    }
}

@media (min-width: 1100px) {
    #container footer {
        margin-bottom: 20px;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.8rem;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        background: var(--color-background-transparent);
        box-shadow: 0 1px 0 0 var(--color-border-light);
    }

    #container footer #logo-footer {
        width: 25%;
        display: flex;
    }

    #container footer #logo-footer img {
        width: 152px;
    }

    #container footer #content-footer {
        width: 50%;
    }

    #container footer #content-footer nav {
        margin-bottom: 5px;
    }

    #container footer #content-footer nav ul {
        display: flex;
        justify-content: center;
    }

    #container footer #content-footer nav ul li {
        padding: 0px 20px;
    }

    #container footer #content-footer nav ul li a {
        color: var(--color-primary);
        text-shadow: 0 1px 0 var(--color-border-dark);
        font-weight: 600;
    }

    #container footer #content-footer nav ul li a:hover {
        color: var(--color-title);
        text-shadow: 0 1px 0 var(--color-border-light);
    }

    #container footer #content-footer p {
        text-align: center;
    }

    #container footer #link-top {
        width: 25%;
        text-align: right;
    }

    #container footer #link-top a {
        color: var(--color-primary);
        text-shadow: 0 1px 0 var(--color-border-dark);
        font-weight: 600;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

    #container footer #link-top a:hover {
        color: var(--color-title);
        text-shadow: 0 1px 0 var(--color-border-light);
    }

    #container footer #link-top a.link-ancor-top::after {
        content: '\f139';
        font: normal normal normal 1.5rem FontAwesome;
        color: var(--color-primary);
        text-shadow: 0 1px 0 var(--color-border-dark);
        padding-left: 0.5rem;
    }

    #container footer #link-top a.link-ancor-top:hover::after {
        color: var(--color-title);
        text-shadow: 0 1px 0 var(--color-border-light);
    }
}