:root {
    --color-background: #4D5151;
    --color-title: #4D5151;
    --color-primary: #FFF;
    --color-border: #4D5151;
    --color-shadow-dark: #4D5151;
    --color-shadow-light: #FFF;
    --color-border-dark: rgba(77, 81, 81, 0.5);
    --color-border-light: rgba(255, 255, 255, 0.5);
    --color-background-transparent: rgba(77, 81, 81, 0.2);
    --color-background-button-submit: #007bff;
    --color-background-button-submit-hover: #0069d9;
    --color-background-button-reset: rgba(77, 81, 81, 0.2);
    --color-background-button-reset-hover: rgba(77, 81, 81, 0.5);

    /* Tamanho da fonte padrão: 16px - 100% - 1rem (rem: relativo ao :root) */
    font-size: 100%;
    /* Fonte para títulos */
    --font-family-title: 'Roboto', sans-serif;
    /* Fonte para conteúdo */
    --font-family-content: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100vh;
}

html {
    font-family: var(--font-family-content);
    -webkit-font-smoothing: antialiased;
    color: var(--color-primary);
}

body {
    background: url(../images/layout/bg_site.gif);
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-title);
    font-family: var(--font-family-title);
    display: flex;
    margin-bottom: 1rem;
    text-shadow: 0 1px 0 var(--color-border-light);
}

h1 {
    margin-bottom: 2rem;
}

#container aside h3 {
    margin-bottom: 2.4rem;
}

h1 span.h-icon,
h2 span.h-icon,
h3 span.h-icon,
h4 span.h-icon,
h5 span.h-icon,
h6 span.h-icon {
    width: 6px;
    height: auto;
    background-color: var(--color-background);
    border-bottom: 1px solid var(--color-border-light);
    margin: 4px 10px 4px 0;
}

#container {
    width: 90vw;
    max-width: 1100px;
}

#container a,
#container a::after,
#container a::before {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#container p {
    text-shadow: 0 1px 0 var(--color-border-dark);
}

#container section p,
#container article p {
    margin-bottom: 1.3rem;
}

#container header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1099px) {
    body {
        font-size: 80%;
    }

    #container footer #logo-footer img {
        width: 152px;
    }
}

@media (min-width: 1100px) {
    #container {
        width: 90vw;
        display: table;
        max-width: 1100px;
        padding: 0 40px;
        box-shadow: 0px 0px 5px 2px var(--color-shadow-dark)
    }
}